
.news-area-01 {
    background: #9A0000;
    position: relative;
    width: 100%;
}
.video-wrap {
    position: relative;
    width: 100%;
    max-height: 243px;
    overflow: hidden;
}
video{
    display: block;
    width: 100%;
}
.news-area-inner-wrap {
    background: url(https://www.etwservice.com/content/Htmlstatic/upfile/01.png) repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}