<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.PagesMapper">
<!--缓存-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


    <resultMap id="BaseResultMap" type="com.base.dao.pojo.Pages">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pageName" property="pagename" jdbcType="VARCHAR"/>
        <result column="pageDomPath" property="pagedompath" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.base.dao.pojo.Pages" extends="BaseResultMap">
        <result column="page" property="page" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, pageName, pageDomPath
  </sql>
    <sql id="Blob_Column_List">
    page
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from e_pages
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="com.base.dao.pojo.Pages">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from e_pages
        where pageDomPath = #{pagedompath}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_pages
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.base.dao.pojo.Pages">
    insert into e_pages (id, pageName, pageDomPath, 
      page)
    values (#{id,jdbcType=INTEGER}, #{pagename,jdbcType=VARCHAR}, #{pagedompath,jdbcType=VARCHAR}, 
      #{page,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.base.dao.pojo.Pages">
        insert into e_pages
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pagename != null">
                pageName,
            </if>
            <if test="pagedompath != null">
                pageDomPath,
            </if>
            <if test="page != null">
                page,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pagename != null">
                #{pagename,jdbcType=VARCHAR},
            </if>
            <if test="pagedompath != null">
                #{pagedompath,jdbcType=VARCHAR},
            </if>
            <if test="page != null">
                #{page,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.base.dao.pojo.Pages">
        update e_pages
        <set>
            <if test="pagename != null">
                pageName = #{pagename,jdbcType=VARCHAR},
            </if>
            <if test="pagedompath != null">
                pageDomPath = #{pagedompath,jdbcType=VARCHAR},
            </if>
            <if test="page != null">
                page = #{page,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.base.dao.pojo.Pages">
    update e_pages
    set pageName = #{pagename,jdbcType=VARCHAR},
      pageDomPath = #{pagedompath,jdbcType=VARCHAR},
      page = #{page,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.base.dao.pojo.Pages">
    update e_pages
    set pageName = #{pagename,jdbcType=VARCHAR},
      pageDomPath = #{pagedompath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>