<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.base.dao.pojo.Report" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.base.dao.pojo.ReportWithBLOBs" extends="BaseResultMap" >
    <result column="report_html" property="reportHtml" jdbcType="LONGVARCHAR" />
    <result column="report_text" property="reportText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, state
  </sql>
  <sql id="Blob_Column_List" >
    report_html, report_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from e_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.base.dao.pojo.ReportWithBLOBs" >
    insert into e_report (id, date, state,
    report_html, report_text)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{state,jdbcType=INTEGER},
    #{reportHtml,jdbcType=LONGVARCHAR}, #{reportText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.base.dao.pojo.ReportWithBLOBs" >
    insert into e_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="reportHtml != null" >
        report_html,
      </if>
      <if test="reportText != null" >
        report_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="reportHtml != null" >
        #{reportHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="reportText != null" >
        #{reportText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.dao.pojo.ReportWithBLOBs" >
    update e_report
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="reportHtml != null" >
        report_html = #{reportHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="reportText != null" >
        report_text = #{reportText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.base.dao.pojo.ReportWithBLOBs" >
    update e_report
    set date = #{date,jdbcType=DATE},
    state = #{state,jdbcType=INTEGER},
    report_html = #{reportHtml,jdbcType=LONGVARCHAR},
    report_text = #{reportText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.dao.pojo.Report" >
    update e_report
    set date = #{date,jdbcType=DATE},
    state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="deleteReportByIds" parameterType="java.util.List">
    delete from e_report
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <select id="selectReports" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>,
    <include refid="Blob_Column_List"/>
    from e_report
  </select>
</mapper>